
.App {
  text-align: center;
}

.MapApp{
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
}

.Map{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

/* .horisontal-list {

  width: 90vw;
  height: 30vh;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.item {
  display: inline-block;
}

.Card {
  position: absolute;
  top: 65%;
  margin-left: 5%;
  width: 90vw;
  height: 30vh;
} */

.lists {
  position: absolute;
  top: 70vh;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  margin:0;
  padding:0;
}

.list {
  background-color: red;
  display: inline-block;
  width: 80vw;
  margin: 2vw;
}