
.App {
  text-align: center;
}

.MapApp{
  position: relative;
}

.Map{
  height: 100vh;
  width: 100%;
}

.horisontal-list {

  width: 90vw;
  height: 30vh;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.item {
  display: inline-block;
}

.Card {
  position: absolute;
  top: 65%;
  margin-left: 5%;
  width: 90vw;
  height: 30vh;
}